extends layout.pug

block number-1
    div.flex
        if error 
            p.error Input is Empty, fill it!

        if success 
            p.success Gotcha! 

        if delete1 
            p.delete1 Successfully deleted! 

    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Add your todo description here...' name='todo')
        button.btn Add

    ul.todos
        if todos.length
            each todo in todos
                li.todo 
                    if todo.done 
                        a.done(href=`/${ todo.id }/update`) #{ todo.description }
                    else
                        a.undone(href=`/${ todo.id }/update`) #{ todo.description }
                    a.delete(href=`/${ todo.id }/delete1`) Delete
        else 
            p.todo No any todo available